.footer
    font-family OpenSans
    padding 35px 0
    background-color #26282a
    color  #535455
    font-size 1.125rem
    font-weight 400
    line-height 1.444
    text-align left
    &_red
        color  #c33737
