//Import stylus files
@import 'fonts.styl' /*шрифты*/
@import 'vars.styl'	/*переменные*/
@import 'mixins.styl' /*миксины*/
@import 'slider.styl' /*модификатор навигации слйдера*/
@import 'navbar.styl'
@import 'weAre.styl'
@import 'preview.styl'
@import 'present.styl'
@import 'more.styl'
@import 'footer.styl'
.page
	max-width 1920px
	width 100vw
	margin 0 auto
.b-slider
	position relative
	z-index -1
	border-top 1px solid #232628
	border-bottom 1px solid #232628
	background-color #2b2e31
	box-shadow 0px 1px 0px 0px rgba(255, 255, 255, 0.06)
.bold 
	font-weight 700