.b-more
    padding 60px 0
    background-color  #232628
    box-shadow 0px 1px 5px 0px rgba(0, 0, 0, 0.15)
    font-family OpenSans
    &__title
        padding 30px 0
        margin-bottom 30px
        color white
        font-size 1.375rem
        font-weight 700
        upper()
        box-shadow 0px 1px 0px 0px rgba(255, 255, 255, 0.07)
    &__txt
        color  #727272
        font-size 0.875rem
        font-weight 300
        line-height 1.486
        text-align left
    &__link
        display inline-flex
        justify-content space-between
        align-items center
        link(white)
        upper()
        font-size 0.875rem
        font-weight 700
        line-height 1.429
        text-align left
        padding 5px 10px
        border 1px solid #4b4d4f
        transition all 0.2s ease
        &:hover
            filter opacity(0.5)
    &__icon
        margin-left 5px
        color  #c33737
        font-size 0.875rem
        line-height 1.429
        text-align left