.b-weAre
    position relative
    z-index -2
    padding 60px 0
    background-color #2b2e31
    font-family OpenSans
    border-bottom 1px solid #232628
    &__social
        padding 28px
        border 3px solid #c33737
        border-radius 50%
        font-size 16px
        margin 0 5px 5px
        &:last-child
            padding 28px 30px
    &__title
        color white
        font-size 1.5rem
        font-weight 700
        text-align left
        upper()
        letter-spacing 1px
        margin-bottom 5px
        @media (max-width 1200px)
            text-align center
    &__txt
        color  #727272
        font-size 1.4rem
        font-weight 100
        text-align left
        line-height 1.1
        letter-spacing 2px
        @media (max-width 1200px)
            text-align center