//Color vars
$white = #fff
$black = #000
$darkest = #030303
$dark = #141515
$dark-gray = #151515
$gray = #575757
$light-gray = #565656
$blue = #00e3fe
$pink = #da7074
//Fonts vars
$mon = Montserrat
$play = PlayfairDisplay
$grg = Georgia
