.btn
	display inline-block
	padding 10px 40px
	border-radius 50px
	border 1px solid #0ebfdd
	background-color #0ebfdd
	text-decoration none
	font-size 0.869rem
	color #f7fdfe
	text-align center
	upper()

.btn_mod
	 border 1px solid #f9fbfb
	 background-color transparent
	 color #f7fdfe
	 
.bb
	border-bottom 1px solid rgba(138, 141, 145, 0.3)