.b-benefits
	padding-bottom 150px

.benefitsItem
	padding-bottom 50px
	&__title
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		align-items center
		color $d-gray
		font-size 1.125rem
		font-weight 700
		line-height 2.667
		text-align left
		margin-bottom 20px
		upper()
	&__icon
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		justify-content center
		align-items center
		font-size 22px
		width 40px
		height @width
		padding 5px
		background-color $green
		margin-right 20px
	&__txt
		font-size 0.875rem
		font-weight 400
		line-height 2.143
		text-align left