.dreamTeam
	padding-bottom 150px
	&__img
		margin-bottom 30px
	&__readMore
		background-color alpha($d-gray, 0.1)
		padding 50px 30px
		margin-bottom 150px
	&__txt
		font-size 1rem
		font-style italic
		text-align left
		
.dreamTeamPresent
	&__img
		margin-bottom 30px
	&__txt
		font-size 0.875rem
		font-weight 400
		line-height 2.143
		text-align center
		margin-bottom 30px