.b-logo
	display block
	font-size 1.125rem
	font-weight 700
	line-height 2.667
	text-align left
	upper()
	link($d-gray)
	transition all 0.2s ease
	&:hover
		transform scale(1.2)
	
.b-header__burger
	border none
	background transparent
	font-size 1.25rem
	color $d-gray
	transition all 0.2s ease
	&:hover
		cursor pointer
		transform scale(1.2)
		
.b-btn
	display inline-block
	padding 20px 39px
	background-color $green
	link(white)
	upper()
	font-size 0.875rem
	font-weight 700
	text-align center
	&_inverse /*invers color mod*/
		background-color white
		color $green
	&_small /*small mod*/
		padding 8px 10px
	