.b-menuCategory
	&__title
		font-size 1.875rem
		font-weight 700
		line-height 1.6
		text-align left
		upper()
		margin-bottom 50px
	&__link
		display inline-block
		padding 5px 20px 5px 20px
		link($d-gray)
		font-size 0.875rem
		font-weight 700
		text-align left
		upper()
		&:hover
			background-color $green
			color  #ffffff
			font-size 0.875rem
			font-weight 700
		&_active /*active mod*/
			background-color $green
			color  #ffffff
			font-size 0.875rem
			font-weight 700
	&__item
		margin-bottom 30px
		
			
		